body {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.color-red {
  color: #de261a;
}

.color-blue {
  color: #155bb3;
}

.color-gray {
  color: #626262;
}

.bg-gray {
  background: #fafafa;
}

.float-left {
  float: left;
}

.container {
  width: 1170px;
  zoom: 1;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 106px;
  .hd-left {
    float: left;
    width: 520px;
    .logo {
      float: left;
    }
    .hd-line {
      float: left;
      margin: 0 25px 0 15px;
    }
    .hd-txt {
      float: left;
      margin-top: 27px;
    }
  }
  .hd-right {
    float: right;
    width: 370px;
    margin: 2px 0;
    .ewm {
      float: left;
      margin-top: 15px;
    }
    .hd-icon {
      width: 20px;
      float: left;
      margin: 20px 7px 5px 14px;
      img{
        float: left;
        margin-top: 1px;
        margin-bottom: 5px;
      }
    }
  }
  .hd-txt {
    float: left;
    line-height: 14px;
    font-size: 14px;
    margin-top: 23px;
  }
}

.nav-bg {
  width: 100%;
  height: 48px;
  background: #2c78da;
  clear: both;
  .nav {
    clear: both;
    ul {
      li {
        float: left;
        height: 48px;
        width: 140px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        font-size: 16px;
      }
      li:hover {
        background: #145bb5;
      }
      li.active {
        background: #145bb5;
      }
    }
  }
}

#banner {
}

.flexslider {
  position: relative;
  width: 100%;
  height: 381px;
  overflow: hidden;
  zoom: 1;
  .slides {
    li {
      width: 100%;
      height: 381px;
      a {
        img {
          width: 100%;
          height: 381px;
          display: block;
        }
      }
    }
  }
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    li {
      margin: 0 2px;
      display: inline-block;
      zoom: 1;
      *display: inline;
      a {
        background: url(../img/dot.png) no-repeat 0 -16px;
        display: block;
        height: 16px;
        overflow: hidden;
        text-indent: -99em;
        width: 16px;
        cursor: pointer;
      }
      a.flex-active,
      .active a {
        background-position: 0 0;
      }
    }
  }
}

.main {
  .main-cont {
    overflow: hidden;
    padding-bottom: 20px;
    .cont-title {
      margin: 50px 0 25px 0;
      .ch {
        width: 330px;
        margin: 0 auto;
        text-align: center;
        .linel {
          float: left;
          height: 2px;
          width: 60px;
          background: #145bb5;
          margin-top: 15px;
        }
        .chtitle {
          font-size: 27px;
          margin-left: 5px;
          margin-right: 5px;
        }
        .liner {
          float: right;
          height: 2px;
          width: 60px;
          background: #145bb5;
          margin-top: 15px;
        }
      }
      p {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
      }
    }
    .cont-frame {
      overflow: hidden;
      .menu {
        float: left;
        width: 247px;
        background: #ececec;
        .title {
          height: 57px;
          background: #2e7adc;
          text-align: center;
          line-height: 57px;
          color: #fff;
          font-size: 18px;
          i {
            margin-right: 12px;
          }
        }
        .menu-list {
          li {
            width: 222px;
            height: 35px;
            line-height: 35px;
            background: #fff;
            border-radius: 20px;
            margin: auto;
            margin-top: 8px;
            color: #6c6c6c;
            //a {
            //  color: #6c6c6c;
            //}
            //a:hover {
            //  color: #fff;
            //}
          }
          li.active {
            background: #145bb5;
            color: #fff;
          }
          li:hover {
            background: #145bb5;
            color: #fff;
          }
          .margin {
            margin-left: 20px;
            margin-right: 28px;
          }
        }
        .bottom {
          height: 40px;
          background: #2e7adc;
          margin-top: 37px;
        }
      }
      .content {
        float: left;
        width: 877px;
        margin-left: 16px;
        .pic-list {
          overflow: hidden;
          li {
            position: relative;
            float: left;
            margin-bottom: 30px;
            .text {
              width: 273px;
              height: auto;
              background-color: #2e7adc;
              opacity: 0.9;
              -moz-opacity: 0.9;
              position: absolute;
              left: 15px;
              bottom: 0px;
            }
            .imgtext {
              width: 273px;
              height: auto;
              float: left;
              padding: 10px;
              color: #fff;
              font-size: 18px;
              line-height: 150%;
              text-align: center;
            }
          }
          .mar {
            margin-left: 28px;
            margin-right: 27px;
          }
        }
      }
      .dowebok {
        width: 877px;
        height: 650px;
      }
      .str_wrap {
        background: none;
      }
      .sub-content {
        .page-header {
          margin: 5px 0 2px;
          font-size: 20px;
          color: #0e64cb;
          border-bottom: 1px solid #0e64cb;
          .sub-pagination {
            float: right;
            font-size: 14px;
            margin-top: 10px;
            a {
              color: #0e64cb;
            }
          }
        }
        .line {
          border-bottom: 3px solid #2e7adc;
          margin-bottom: 20px;
        }
        .pic-list {
          li {
            width: 201px;
            height: 177px;
            margin: 0 9px 25px 9px;
            border: 1px solid #ddd;
            p {
              text-align: center;
              font-size: 16px;
              margin-top: 8px;
            }
          }
        }
        #newslist {
          li {
            padding-left: 20px;
            line-height:35px;
            height: 35px;
            font-size: 14px;
            border-bottom: #CCC dotted 1px;
            overflow: hidden;
            background: url(../img/img17.jpg) no-repeat 0 50%;
            .txt {
              float: left;
              width:735px;
              a{
                color: #797979;
              }
              a:hover{
                color: #2e7adc;
              }
            }
            .date {
              float: left;
              width: 100px;
              margin-left: 20px;
              text-align: right;
              padding-right: 10px;
            }
          }
        }
        nav {
          text-align: center;
        }
        .details{
          margin-top: 30px;
          h3{
            text-align: center;
          }
          .data{
            font-size: 10px;
            text-align: center;
            .color-gray{
              color: #7f7f7f;
            }
            span{
              margin-right: 10px;
            }
          }
          .details-txt{
            margin-top: 35px;
            p{
              padding: 0 30px;
              line-height: 25px;
            }
          }
        }

      }

    }
    .cont-about {
      .cont-top {
        overflow: hidden;
        position: relative;
        .profile{
          position: absolute;
          top: 0;
          right:51.8%;;
          z-index: 22;
          width: 232px;
          height:288px;
          background: red;
          text-align: center;
          color: #fff;
          h3{
            margin-top: 118px;
          }
          p{
            font-size: 20px;
          }
        }
      }
      .cont-bottom {
        margin-top: 20px;
        overflow: hidden;
      }
      .cont-txt {
        float: left;
        width: 591px;
        padding: 7px 20px 9px 40px;
        h3 {
          margin-bottom: 20px;
          color: #2e7adc;
        }
        p {
          color: #707070;
          line-height: 26px;
        }

      }
      p {
        margin-bottom: 0;
      }
    }
    .cont-contact {
      .cont-left {
        padding: 20px 30px;
        width: 420px;
        border-bottom: 5px solid #2e7adc;
        border-top: 5px solid #2e7adc;
        .cont-p {
          p {
            margin-bottom: 6px;
          }
        }
        p {
          display: block;
          overflow: hidden;
          img {
            text-align: center;
          }
        }
        .saomiao {
          overflow: hidden;
          border-top: 1px dashed #ddd;
          margin-top: 15px;
          padding-top: 15px;
          span {
            margin-top: 40px;
            margin-left: 20px;
            display: block;
            float: left;
          }
        }
      }
      .cont-right {
        width: 710px;
        margin-left: 10px;
      }
    }

    .subpage {
      margin-top: 30px;
    }
    .cont-case {
      ul {
        li {
          float: left;
          width: 190px;
          text-align: center;
        }
      }
    }
    .cont-service {
      img {
        width: 100%;
      }
      ul {
        li {
          float: left;
          width: 142px;
          text-align: center;
        }
      }
    }
    .cont-about {
      overflow: hidden;
      .about-frame {
        width: 569px;
        height: 315px;
        background: #fff;
        float: left;
        margin-left: 1px;
        .abtitle {
          margin: 30px 0 0 20px;
          h3 {
            margin-top: 5px;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .dltxt {
          margin-top: 15px;
          margin-left: 20px;
          overflow: hidden;
          dl {
            float: left;
            width: 257px;
            margin-right: 17px;
            margin-bottom: 0;
            dd {
              line-height: 25px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              a {
                color: #707070;
              }
            }
          }
        }
        .about-right {
          margin-left: 30px;
          margin-top: 35px;
          img {
            float: left;
            margin: 0 15px 5px 0;
          }
          p {
            line-height: 23px;
            color: #707070;
            margin-bottom: 0;
          }
        }
      }
      .btn-more {
        text-align: center;
        .btn-primary {
          margin-top: 40px;
          width: 115px;
          height: 40px;
          background: #2c78da;
        }
      }
    }
  }

  .repair {
    margin-top: 30px;
    .page-header {
      margin: 5px 0 2px;
      font-size: 20px;
      color: #0e64cb;
      border-bottom: 1px solid #0e64cb;
    }
    .line {
      border-bottom: 3px solid #2e7adc;
      margin-bottom: 20px;
    }
    h4 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
      padding-left: 40px;
    }
    .form-group {
      i {
        margin-right: 15px;
      }
      .col-sm-2 {
        width: 160px;
      }
    }
  }

  .service {
    background: #f2f2f2;
    margin-top: 20px;
    padding-bottom: 20px;
    .ser-width{
      width: 234px;
      height: 112px;
      margin-bottom: 25px;
    }
    //table {
    //  tr {
    //    margin-bottom: 15px;
    //    display: flex;
    //    td {
    //      display: inline-block;
    //      margin-left: -2px;
    //    }
    //  }
    //  .text-left {
    //    text-align: left;
    //  }
    //  .s_left {
    //    margin-left: 25px;
    //  }
    //  .s_center {
    //    margin: 0 26px;
    //  }
    //  .s_right {
    //    margin-right: 25px;
    //  }
    //  .text-right {
    //    text-align: right;
    //  }
    //}
  }
}

footer {
  height: 100px;
  background: #2c78da;
  padding-top: 30px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  p {
    a {
      color: #fff;
    }
    a:hover {
      color: #fff;
    }
  }
}